@import "tailwindcss";

body{
 padding:0;
 margin:0;
}

*{
  box-sizing: border-box;
}

#root{
  display:flex;
  /* justify-content:center;
  align-items: center; */
  flex-direction:column;
  overflow:auto;
  padding:0;
  margin:0;
  height:100vh;
  background-color:white;
}