@import "tailwindcss";

body{
 padding:0;
 margin:0;
}

*{
  box-sizing: border-box;

  user-select:none;
}


#root{
  display:flex;
  align-items: center;
  flex-direction:column;
  overflow:auto;
  padding:0;
  margin:0;
  height:100vh;
  background-color:#000;
}


/* Scrollbar */
.scrollable::-webkit-scrollbar {
  width: 1vh;
}

/* Track (sfondo della scrollbar) */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0hh;
}

/* Thumb (la parte che scorre) */
.scrollable::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 0vh;
}

/* Hover sul thumb */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}



